@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    html, body{
        height: 100vh;
        width: 100vw; 
    }

    body{
        background-image: url(../imagens/fundo-madeira.jpg);
        background-position: top center;
        background-attachment: fixed;
        background-repeat: no-repeat;

      
       
    }

    
    main{
        position: relative;
        height:100vh;
        
    }

    section#celular{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 627px;
        width: 311px;
        background: url(../imagens/frame-iphone.png) no-repeat;
        
    }



    iframe#tela{
        position: relative;
        top: 81px;
        left: 22px;
        height: 471px;
        width:268px;
       
 
    }

    section#redes{
        text-align: right;
     
    }
    section#redes img{
            width: 50px;
            margin: 15px;
            border-radius: 50%;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.712);
            box-sizing: border-box;
    }

     
      section#redes img:hover{
        border: 4px solid rgba(255, 255, 255, 0.650);
        transform: translate( -5px, -5px);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.712);

        

      }
      
        
    
        
       
    
